In [ ]:
print('hello world')

In [8]:
a=1

In [9]:
print(type(a))

<class 'int'>

In [10]:
a='1'

In [11]:
print(type(a))

<class 'str'>

In [18]:
a=[1,2,3,4,5,6]

In [19]:
print(type(a))

<class 'list'>

In [20]:
a={'1':1,'2':2,'3':3,'4':4,'5':5,'6':6}

In [22]:
print(type(a))

<class 'dict'>

In [23]:
a = 1+2+3

In [24]:
print(a)

6

In [25]:
#float
a = 128.8+38-222.4764
print('a= '+str(a))
a=2/3
print ('a='+str(a))
print(type(a))

a= -55.6764
a=0.6666666666666666
<class 'float'>

In [29]:
# // 소수점 절삭 연산자
a=10//3
print('a= '+str(a))

a= 3

In [30]:
# **제곱연산자
a=2**3
print('a= '+str(a))
a=3**4
print('a= '+str(a))

a= 8
a= 81

In [34]:
#  문자열 (string)
a= 'hello world'
print('a= '+str(a))
a= 'hello world'*3
print('a= '+str(a))

a= 'hello world'
print('a[0]= '+a[0])
print('a[1]= '+a[1])
print('a[2]= '+a[2])
print('a[3]= '+a[3])
print('a[4]= '+a[4])
print('a[5]= '+a[5])
print('a[6:9]= '+a[6:9])

a= hello world
a= hello worldhello worldhello world
a[0]= h
a[1]= e
a[2]= l
a[3]= l
a[4]= o
a[5]=
a[6:9]= wor

In [36]:
color = '빨강'
fmt = '나는 %s을 좋아합니다 ' %color
print(fmt)
color = '초록'
fmt = '나는 %s을 좋아합니다.' %color
print(fmt)

나는 빨강을 좋아합니다
나는 초록을 좋아합니다.

In [1]:
kor = 88
eng = 95
math = 97
sum = kor+eng+math
avg = sum/3
fmt = 'sum: %d, avg : %f' %(sum,avg)
result =(sum,avg)
print(fmt)

print('result type :: ' + str(type(result)))

sum: 280, avg : 93.333333
result type :: <class 'tuple'>

Tuple -(a,b), List-[1,2], Dict-{'a':1}
tuple- read only
List - 수정 가능
Dict -

In [2]:
name = input('input your name:  ')
print('name is ' + name)

input your name:  55
name is 55

In [ ]:
a= input ('input integer value : ')
print('value is +'+ a)
b= input ('input integer value : ')
print('value is '+ b)
a = int (a)
b = int (b)
print('sum = ' + str(a+b))
print('sub = ' + str(a-b))
print('mul = ' + str(a*b))
print('div = ' + str(a/b))

In [2]:
price = int(input('물건 가격 : '))
num = int(input('구매 갯수 : '))
pay = int(input('지불 금액'))
change = pay - price * num
print('물건 가격 : ' + str(price))

물건 가격 : 1500
구매 갯수 : 12
지불 금액2
물건 가격 : 1500

Python Logic - if and for...

In [2]:
x = input (' input x value : ')
x = int (x)
if x>100:
    print('positive')
elif x>10:
    print('x>10')
else:
    print('negative')

 input x value : 11
x>10

In [4]:
a=5
b=2
print("{a}>{b} : " .format(a=a, b=b) +str(a>b))
print("{a}>{b} : " .format(a=a, b=b) +str(a<b))
print("{a}>{b} : " .format(a=a, b=b) +str(a==b))
print("{a}>{b} : " .format(a=a, b=b) +str(a!=b))
print("{a}>{b} : " .format(a=a, b=b) +str(a<=b))
print("{a}>{b} : " .format(a=a, b=b) +str(a>=b))

5>2 : True
5>2 : False
5>2 : False
5>2 : True
5>2 : False
5>2 : True

In [ ]:
#논리연산자
kor = 80
eng = 90
comp = kor>=70 and eng>=90
print('comp type : 'str(type(comp))+ ', value: '+str(comp))
comp = kor> 70 or eng >=90
print('comp type : 'str(type(comp))+ ', value: '+str(comp))
comp = not kor == 70
print('== type : 'str(type(comp))+ ', value: '+str(comp))

x=5
comp = x%2==0
print()

In [10]:
# Quiz 1

num = int(input('정수를 입력하세요 : '))
result = '입력된 정수는 100~ 1000사이에 있지 않습니다!'
if num >= 100 and num<=1000:
    result = '입력된 정수는 100~1000 사이에 있습니다!'
        
print('입력된 정수 : ' + str(num) +' 입니다')
print(''+str(result))

정수를 입력하세요 : 10
입력된 정수 : 10 입니다
입력된 정수는 100~ 1000사이에 있지 않습니다!

In [15]:
# Quiz 2

char = (input('영어 소문자 하나를 입력하세요 : '))
if(char == 'a' or char =='e' or char == 'i'or char == 'o' or char =='u'):
    print ('%s -> 모음' %char)
else:
    print ('%s -> 자음' %char)

영어 소문자 하나를 입력하세요 : i
i -> 모음

In [21]:
#Quiz 3

month = int (input('월을 입력해 주세요 : '))
if month >= 3 and month <=5:
    seoson = '봄'
    print (month, '월은', seoson,'입니다.')
elif month >= 6 and month <=8:
    seoson = '여름'
    print (month, '월은', seoson,'입니다.')
elif month >= 9 and month <=11:
    seoson = '가을'
    print (month, '월은', seoson,'입니다.') 
elif month == 12 or month == 1 or month == 2:
    seoson = '겨울'
    print (month, '월은', seoson,'입니다.') 
else:
    print('월이 잘못 입력되었습니다!')

월을 입력해 주세요 : 1
1 월은 겨울 입니다.

### For 반복문

In [38]:
cnt = 5
for i in range(cnt):
    print('[{}] hello world'.format(i))
    
fruits = ['apple','banana','cherry']
print('==='*10)
for fruit in fruits:
    if fruit =='banana':
        continue;
    print(fruit)
    
    
for x in range(2,6):
    print(x)
    
for x in fruits:
    for y in fruits:
        print(x,y)
print('==='*10)
for x in [0,1,2,3,4,5,6]:
    print(x)

[0] hello world
[1] hello world
[2] hello world
[3] hello world
[4] hello world
==============================
apple
cherry
2
3
4
5
apple apple
apple banana
apple cherry
banana apple
banana banana
banana cherry
cherry apple
cherry banana
cherry cherry
==============================
0
1
2
3
4
5
6

구구단

In [20]:
for x in range(2,10):
    for y in range(2,10):
        print(x ,'x', y ,'=', x*y , end = '\t')

2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [21]:
for row in range(1,10):
    line = ''
    for col in range(2,10,1):
        line += '{}x{}={}\t'.format(col,row,col*row)
    print (line)

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

### 리스트

In [31]:
color=['red','green','blue','black','white']
print(color)
print(type(color))
print(color[1:4])
print('==='*10)

nums = list(range(2,21,2))
print(nums[3:7])
for x in nums:
    print(x)
    
print('==='*10)

animals = ['사자','호랑이','원숭이','곰','사슴']
i=0
while i<len(animals):
    print(animals[i])
    i=i+1
print('==='*10)

flower = ['무궁화','장미','개나리']
print(flower)
flower.append('벗꽂') #추가
print(flower)
flower.remove('장미') #삭제
print(flower)

['red', 'green', 'blue', 'black', 'white']
<class 'list'>
['green', 'blue', 'black']
==============================
[8, 10, 12, 14]
2
4
6
8
10
12
14
16
18
20
==============================
사자
호랑이
원숭이
곰
사슴
==============================
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '벗꽂']
['무궁화', '개나리', '벗꽂']

In [ ]:
#Quiz 1

In [41]:
scores = []
while True:
    x = int(input('성적을 입력하세요(종료시 -1입력 ): '))
    if x == -1:
        break
    else:
        scores.append(x)
sum = 0
for score in scores:
    sum = sum + score
    
avg = sum / len(scores)
print("총합은{} 이고, 평균은 {} 입니다.".format(sum,avg))

성적을 입력하세요(종료시 -1입력 ): 4
성적을 입력하세요(종료시 -1입력 ): 46
성적을 입력하세요(종료시 -1입력 ): 464
성적을 입력하세요(종료시 -1입력 ): -1
총합은,514, 이고, 평균은, 171.33333333333334, 입니다.

In [44]:
numbers = [ [1,2,3,10],
           [4,5,6,10],
           [7,8,9,10] ]
print(numbers)
i_len =len(numbers)
j_len= len(numbers[i])
print('row', i_len)
print ('col',j_len)
for i in range(len(numbers)):
    for j in range (len(numbers[i])):
        print('numbers[{}][{}]={}'.format(i,j,numbers[i][j]))

[[1, 2, 3, 10], [4, 5, 6, 10], [7, 8, 9, 10]]
row 3
col 4
numbers[0][0]=1
numbers[0][1]=2
numbers[0][2]=3
numbers[0][3]=10
numbers[1][0]=4
numbers[1][1]=5
numbers[1][2]=6
numbers[1][3]=10
numbers[2][0]=7
numbers[2][1]=8
numbers[2][2]=9
numbers[2][3]=10

In [13]:
scores = [
    [75,83,90],
    [86,86,73],
    [76,95,83],
    [89,96,69],
    [89,76,93]
]
print(scores)
row_len = len(scores)

for i in range(len(scores)):
    sum = 0
    for j in range(len(scores[i])):
        sum = sum + scores[i][j]
        avg = sum / len(scores[i])
    print("{}번째 학생의 합계 : {} 평균: {}".format(i,sum,avg))

[[75, 83, 90], [86, 86, 73], [76, 95, 83], [89, 96, 69], [89, 76, 93]]
0번째 학생의 합계 : 248 평균: 82.66666666666667
1번째 학생의 합계 : 245 평균: 81.66666666666667
2번째 학생의 합계 : 254 평균: 84.66666666666667
3번째 학생의 합계 : 254 평균: 84.66666666666667
4번째 학생의 합계 : 258 평균: 86.0

#

# Function

In [35]:
#def hello(): #function define
def hello(name): #function define
    print('{} : This is hello function'.format(name))

In [38]:
fruits = ['apple','banana','cherry']
for x in fruits:
    hello(x)

apple : This is hello function
banana : This is hello function
cherry : This is hello function

In [39]:
def sum(a,b):
    return a+b

In [40]:
sum(10,10)

20

In [41]:
def calc(a,b):
    sum = a+b
    avg = sum/2
    return sum, avg

In [43]:
calc(10,10)

(20, 10.0)

In [1]:
def sum(start, end):
    
    hap = 0
    for i in range(start, end+1):
        hap = hap +i
    print("{}~{}의 정수의 합계: {}".format(start,end,hap))

In [5]:
sum(1,10)
sum(100,200)
sum(200,300)

1~10의 정수의 합계: 55
100~200의 정수의 합계: 15150
200~300의 정수의 합계: 25250

# File I/O

In [7]:
file = open('sample.txt','w')
file.write('안녕하세요. KCCI 수업중입니다.')
file.close()
print('sample.tct 파일쓰기 완료')

sample.tct 파일쓰기 완료

In [11]:
scores= ['안소영 9780939793',
        '정예린 86100938690',
        '김윤희 970311',
        '연수정 456456456',
        '박지아 789789789']
data=''
for item in scores:
    data=data+item+'\n'
print (data)
file=open('scores.txt','w')
file.write(data)
file.close()

안소영 9780939793
정예린 86100938690
김윤희 970311
연수정 456456456
박지아 789789789

In [12]:
file = open('scores.txt', 'r')
lines = file.readlines()
print(lines)
for line in lines:
    print(line, end='')
file.close()

['안소영 9780939793\n', '정예린 86100938690\n', '김윤희 970311\n', '연수정 456456456\n', '박지아 789789789\n']
안소영 9780939793
정예린 86100938690
김윤희 970311
연수정 456456456
박지아 789789789